.content {
  margin-top: 20px;
  border-radius: 20px;
  background-color: white;
}
.content__top {
  display: flex;
  padding: 10px;
  align-items: center;
}
.content__topInfo {
  align-items: center;
  margin-left: 10px;
}
.content__topInfo p {
  font-size: small;
  color: gray;
}
.content__bottom {
  align-items: center;
  padding: 0 0 10px 12px;
}
.content__image > img {
  width: 100%;
}
.content__react {
  display: flex;
  padding: 20px;
  color: gray;
  width: 100%;
}
.react__opt {
  display: flex;
  flex: auto;
  margin-left: 50px;
}
