.header {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px 0px 10px;
  position: sticky;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
  background-color: white;
  z-index: 100;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__left h3 {
  color: #1972eb;
}

.header__input {
  background-color: #f5f5f5;
  height: 40px;
  border-radius: 33px;
  align-items: center;
  margin-left: 10px;
  padding-left: 10px;
  display: flex;
}
.header__input > .searchIcon {
  color: #707070;
  margin-left: 2px;
}
.header__input > input {
  background-color: transparent;
  margin-left: 2px;
  outline-width: 0;
  border: none;
}
/*  header navigation */
.header__middle {
  display: flex;
  align-items: center;
}
.header__option {
  padding: 0px 30px;
  align-items: center;
}
.header__option > .MuiSvgIcon-root {
  color: #707070;
  padding: 14px;
}
.header__option--active .MuiSvgIcon-root {
  color: #1972eb;
  padding: 0px 20px;
  border-bottom: 3px solid #1972eb;
}

.header__option > .MuiSvgIcon-root:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 20px;
}
/* Avatar and settings */
.header__info {
  display: flex;
  align-items: center;
}
.header__info h4 {
  margin: 0px 10px 0px 10px;
}
.icon_btn {
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 100px;
}
