.sideBarRow {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #f0f2f5;
}
.sideBarRow:hover {
  background-color: #e4e6e9;
  border-radius: 10px;
  cursor: pointer;
}
.sideBarRow--icon {
  margin-right: 20px;
  align-items: center;
}

.sideBarRow--icon > .MuiSvgIcon-root {
  color: #1972eb;
}
