.story {
  height: 200px;
  width: 150px;
  position: relative;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 75);
  border-radius: 20px;
  transition: transform 100ms ease-in;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  margin-top: 40px;
  margin-right: 20px;
}
.story:hover {
  transform: scale(1.1);
}

.story h3 {
  color: #bdbdbd;
  position: absolute;
  bottom: 20px;
}
